<p><i>Double click on a cell to edit the row.</i></p>
<p><i>The index of the current row in edit mode is saved in the localstorage</i></p>
<p><i>to show the row in edit mode again if the tab gets closed.</i></p>
<ag-grid-angular
    style="width: 100%; height: 350px;"
    class="ag-theme-alpine"
    [rowData]="customers$ | async"
    [columnDefs]="colDefs"
    editType="fullRow"
    (rowValueChanged)="onRowValueChanged($event)"
    (rowEditingStarted)="onRowEditingStarted($event)"
    (rowEditingStopped)="rowEditingStopped($event)"
    (gridReady)="onGridReady($event)"
/>
